<style>
  body {
    background-color: black;
  }

  ul {
    display: grid;
    grid-template-columns: auto auto auto;
    list-style-type: none;
    padding: 0;
  }

  li {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    border-radius: 160px;
    text-align: center;
    align-items: center;
    height: 350px;
    transition: 0.5s;
  }

  li:hover {
    background-color: gray;
    color: whitesmoke;
    font-size: 20px;
    border-radius: 10px;
    transition: 0.5s;
  }

  img {
    width: 300px;
    height: 200px;
    border-radius: inherit;
  }
</style>

<ul>
  <% adList.forEach(ad => { %>

  <li>
    <img src="<%= `${ad.photo}` %> " alt="">
    <p><%= `U$D ${ad.price}` %></p>
    <h3><%= `${ad.adName}` %></h3>
  </li>
  <% }) %>
</ul>
