<style>
  body {
    background-color: black;
    background-image: url('https://freefrontend.com/assets/img/html-funny-404-pages/HTML-404-Error-Page.gif');
    background-repeat: no-repeat;
    background-size: cover;
  }

  h1 {
    color: whitesmoke;
    text-align: center;
  }

  pre {
    color: whitesmoke;
    text-align: center;
  }
</style>

<h1><%= errors.msg %></h1>
<pre><%= errors.solution %></pre>
